<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak="true">
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration</h1>
        <div>
                <label for="age">Registration requires you to be at least 18 years of age</label>
                <br/>
                <input id="age" name="age" ng-model="ctrl.user.age" type="radio" value="first"/>Yes, I am
                <br/>
                <input id="age" name="age" ng-model="ctrl.user.age" type="radio" value="second"/>No, I'm not
                <br/>
                </div>
        <div data-ng-show="ctrl.user.age == 'first'">
        <form name="registrationform" ng-submit="registrationform.$valid && ctrl.onSubmit()" novalidate>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="registrationform.email.$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                    </div>
                    <div data-ng-show="registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                    </div>
                </div>
            </div>
            <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                    <div class="validation" data-ng-show="registrationform.password.$touched || registrationform.$submitted">
                        <div data-ng-show="registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long
                        </div>
                        <div data-ng-show="registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                        </div>
                    </div>
            </div>
            <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input id="confirmpassword" name="confirmpassword" type="password" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/> 
                    <div class="validation" data-ng-show="registrationform.confirmpassword.$touched || registrationform.$submitted">
                            <div data-ng-show="registrationform.confirmpassword.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Confirm Password is required
                            </div>
                            <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                    <span class="glyphicon glyphicon-alert"></span> Passwords do not match
                            </div>
                    </div>
            </div>
            <div class="form-group">
                    <label for="fullName">Full Name</label> 
                    <input id="fullName" name="fullName" type="text" placeholder="John Smith" class="form-control"/>
            </div>
            <div class="form-group">
                    <label for="gender">Gender</label>
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M"/>Male
                    <br/>
                    <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F"/>Female
            </div>

            <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" ng-model="ctrl.user.dob" class="form-control"/>
            </div>

            <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" ng-model="ctrl.user.address" class="form-control"/>
            </div>

            <div class="form-group">
                    <label for="country">Country</label>
                    <input id="country" name="country" type="text" ng-model="ctrl.user.country" class="form-control"/>
            </div>
            
            <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input id="contactNumber" name="contactNumber" type="number" class="form-control" ng-model="ctrl.user.contactNumber" required/>
                    <div class="validation" data-ng-show="registrationform.contactNumber.$touched || registrationform.$submitted">
                            <div data-ng-show="registrationform.contactNumber.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                            </div>
                            <div data-ng-show="registrationform.contactNumber.$error.number">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is invalid (e.g 98765432)
                            </div>
                    </div>
            </div>

            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" ng-click="onSubmit()"/>
            </div>
        </div>
        <div data-ng-show="ctrl.user.age == 'second'">Sorry, you're too young
        </div>
        </form>

    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.service.js"></script>
    <script src="/app/app.controller.js"></script>
    
</body>

</html>